<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_Castle_Core_dll_1557864841_WixComponent" Guid="DA22D4B1-5C16-4C9F-8AB4-35107CC81738" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_49352237_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1469890452_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_972878561_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_685323289_WixComponent" Guid="3747995A-F8D4-4FE9-995C-BE8E35318D79" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1645302171_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1545147667_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1246757151_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1860105689_WixComponent" Guid="05DDDDC0-56AF-464B-BE50-ADBAF92009CC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_65220075_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1101178879_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_768991181_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_379267899_WixComponent" Guid="8EE136A2-117D-490C-A76F-0EC821524A0A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1387830479_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_583016818_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_1554320072_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net208_dll_383235074_WixComponent" Guid="107AC075-0A91-4C82-972C-E2A691AA1219" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_2093994199_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2011886322_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net208_dll_140106609_WixFile" Name="Common.Logging.Log4Net208.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Common.Logging.Log4Net208.dll" />
      </Component>
      <Component Id="Id_log4net_dll_375470110_WixComponent" Guid="44FD93C1-CC2F-4EE5-BCCC-35EB9313F600" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1783829099_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_96209630_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_933540053_WixFile" Name="log4net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_Magick_NET_Q16_AnyCPU_dll_1812706818_WixComponent" Guid="6722EBE6-E4A4-404C-BAC6-B9C2D8C7377E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_628450585_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1685645674_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Magick_NET_Q16_AnyCPU_dll_1114623486_WixFile" Name="Magick.NET-Q16-AnyCPU.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Magick.NET-Q16-AnyCPU.dll" />
      </Component>
      <Component Id="Id_Microsoft_Web_XmlTransform_dll_497230336_WixComponent" Guid="DA5A67B1-8402-4A4A-8F2E-A48540D07BDC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_670862785_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_226535160_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Microsoft_Web_XmlTransform_dll_610986514_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Microsoft.Web.XmlTransform.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_1507866696_WixComponent" Guid="ECD36D94-D030-44CC-8C6F-15170BD4966E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1052932896_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2107531445_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_403881308_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_2093326967_WixComponent" Guid="406501F4-D6A9-4034-AC7F-8A87913FC8EA" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1436787915_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_531749891_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_332477613_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Id_NuGet_Core_dll_991906778_WixComponent" Guid="7BC5DBE6-58E4-4351-B078-2C69F2F56AB6" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_24066771_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2067074367_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NuGet_Core_dll_349197507_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NuGet.Core.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1566661174_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_1196795716_WixComponent" Guid="EE141ADD-9F40-485E-A285-F60124072DCC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_603541860_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_847360400_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_370958131_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_673249811_WixComponent" Guid="3A42D24C-E956-4B1C-8138-E5EDAC30AF75" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_949302104_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1147183528_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_130853958_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_1504242942_WixComponent" Guid="81FD17A7-B983-4917-B046-C3657CA1FD1B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_175998579_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1921519389_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_2100626254_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_536350399_WixComponent" Guid="AA887435-2AD0-4BB5-9D27-4351E8CD3BC1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1307655390_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_56872704_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_2107140144_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_430524181_WixComponent" Guid="9E0861D2-1D19-4F8F-8957-D601C50BAAC1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_749526815_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1189242904_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_1986168562_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_490192365_WixComponent" Guid="41E982C5-1C5C-43E8-9304-39F1ACB26FDC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1408608132_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1473818650_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1427782681_WixFile" Name="log4net.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_179135510_WixComponent" Guid="EBA34DC7-FAAC-486E-B36B-C177CF0B9F37" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1608476752_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1093930806_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_1562244308_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1679408709_WixComponent" Guid="C3AC0A05-0FD0-43F0-95EB-D2E5A788F97A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1295683478_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_351403338_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1864238379_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1894495770_WixComponent" Guid="B2CD5531-F769-44BE-A6DE-EB5462221EA7" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1514362526_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_615911102_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_24908725_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_838285274_WixComponent" Guid="87E0D947-2258-40F6-8F3F-E556761AC672" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_743665355_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1971464172_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1869044328_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1226835279_WixComponent" Guid="06318ECF-0E4A-4F27-9659-10E4AEE196FC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_480132556_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_3623754_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_876934317_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_186012056_WixComponent" Guid="3DF3EBC5-10EC-4254-AA97-5D4CE561630B" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_450738701_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1556976568_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_129132525_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_474877187_WixComponent" Guid="47C5BDD3-777C-4F0C-9428-47AEF8BEA792" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_372821116_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_561382597_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1422023604_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_877831463_WixComponent" Guid="E9429F39-18F5-40BC-9427-B73B0CCDDD63" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_510512592_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1076468809_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1935671231_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1277206857_WixComponent" Guid="B845775F-8DB3-4498-A569-5A4802EE005E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1567061366_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_191822621_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1212256706_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="E:\Dev\github.trondr\NMultiTool\bin\Release\NMultiTool\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_Castle_Core_dll_1557864841_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_685323289_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1860105689_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_379267899_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net208_dll_383235074_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_375470110_WixComponent" />
      <ComponentRef Id="Id_Magick_NET_Q16_AnyCPU_dll_1812706818_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_497230336_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1507866696_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_2093326967_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_991906778_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1196795716_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_673249811_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1504242942_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_536350399_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_430524181_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_490192365_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_179135510_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1679408709_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1894495770_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_838285274_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1226835279_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_186012056_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_474877187_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_877831463_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1277206857_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>